.create_button {
  display: block;
  position: relative;
  width: 80px;
  padding: 0.2em;
  text-align: center;
  text-decoration: none;
  color: #1B1B1B;
  background: #fff;
  border-radius: 30px;
  border: 1px solid #1B1B1B;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  &:hover {
    cursor: pointer;
    text-decoration: none;
    -webkit-animation: create_button 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -moz-animation: create_button 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: create_button 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}

@-webkit-keyframes create_button{
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@-moz-keyframes create_button{
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes create_button {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.header_container {
  height: 45px;
  min-width: 100vw;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #DBDBDB;
  padding-right: 20px;

  .title {
    background-color: transparent;
    color: black;
    font-size: 35px;
    font-family: 'Sacramento', cursive;
  }

  .icons {
    display: flex;
    justify-content: flex-end;
    margin: auto 0 auto 0;

    .home_icon {
      padding-left: 24px;
    }

    .favorite_icon {
      padding-left: 24px;
    }

    .profile_icon {
      padding-left: 24px;
    }

    .logout_icon {
      padding-left: 24px;
    }

    .sign_login {
      padding-left: 24px;
    }
  }
}

.body {
  background-color: #FAFAFA;
  min-width: 100vw;
  min-height: calc(100vh - 40px - 38px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.body_mid {
  width: 80vw;
}

.nav-link {
  float: right;
  position: relative;
  width: 80px;
  text-align: center;
  text-decoration: none;
  color: #818181;

  &:hover {
    color: #1B1B1B;
    cursor: pointer;
    text-decoration: none;
  }
}



.tweet_box {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  border: solid 1px #DBDBDB;

  .tweet_head {
    display: flex;
    justify-content: space-between;
    padding: 6px 0 6px 10px;

    .tweet_head_item {
      display: flex;
      justify-content: flex-start;

      .tweet_head_user_name {
        margin: auto 0 auto 10px;

      }
    }

    .tweet_head_show {
      margin: auto 0 auto 0;
    }
  }


  .tweet_middle_buttons {
    padding-left: 1rem;
    padding-top: 8px;
    height: 40px;
  }

  .tweet_foot {
    padding: 2rem 0 1rem 15px;

    .time {
      color: #8E8E8E;
      font-size: 10px;
    }
  }
}

.footer_container {
  background-color: #FAFAFA;
  height: 18px;
  min-width: 100vw;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  .footer {
    color: #999999;
    font-size: 12px;

  }
}


.image {
  min-width: 100%;
  max-width: 100%; /* 画像幅以上拡大しないようにする指定 */
}

.index_image {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.show_button {
  display: block;
  position: relative;
  width: 80px;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #818181;

  &:hover {
    color: #1B1B1B;
    cursor: pointer;
    text-decoration: none;
  }
}

.header_image {
  height: 22px;
  width: 22px;
  border-radius: 50%;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  &:active {
    position: relative;
    top: 3px;
  }
}

.header_icon_image {
  height: 22px;
  width: 22px;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  &:active {
    position: relative;
    top: 3px;
  }
}

.tweet_icon {
  padding: 10px;

  .tweet_icon_image {
    height: 24px;
    width: 24px;

    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }

    &:active {
      position: relative;
      top: 3px;
    }
  }
}